@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="qodef-page-wrapper" class="">

    <div id="qodef-page-outer">
        <div class="qodef-page-titlex qodef-m qodef-title--standard qodef-alignment--centerx qodef-vertical-alignment--header-bottom qodef--has-image">
            <div class="qodef-m-inner">
                <div class="qodef-m-content qodef-content-grid ">
                    <h1 class="qodef-m-titlex entry-title">
                        Hakkımızda
                    </h1>
                </div>
            </div>
        </div>
        
        <div id="qodef-page-inner" class="qodef-content-grid">
            <main id="qodef-page-content" class="qodef-grid qodef-layout--template ">
                <div class="qodef-grid-inner clear">
                    <div class="qodef-grid-item qodef-page-content-section qodef-col--12">
                        <div data-elementor-type="wp-page" data-elementor-id="551" class="elementor elementor-551" data-elementor-settings="[]">
                            <div class="elementor-inner">
                                <div class="elementor-section-wrap">


                                    <section class="elementor-element elementor-element-bbcfc41 elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no elementor-section elementor-top-section" data-id="bbcfc41" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-element elementor-element-8056dbf elementor-column elementor-col-100 elementor-top-column" data-id="8056dbf" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-1194425 elementor-widget elementor-widget-slider_revolution" data-id="1194425" data-element_type="widget" data-widget_type="slider_revolution.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="wp-block-themepunch-revslider">
                                                                        <p class="rs-p-wp-fix"></p>
                                                                        <rs-module-wrap id="rev_slider_22_1_wrapper" data-source="gallery" style="background:#dfe8ec;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                                                                            <rs-module id="rev_slider_22_1" style="" data-version="6.2.12">
                                                                                <rs-slides>
                                                                                    <rs-slide data-key="rs-48" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                                                                                        <img src="~/Content/wp-content/plugins/revslider/public/assets/assets/transparent.png" alt="Slide" title="About Us" data-bg="c:#f7f8f9;" class="rev-slidebg" data-no-retina>
                                                                                        <rs-layer id="slider-22-slide-48-layer-0" data-type="text" data-color="#1d1d1d" data-xy="x:c;xo:315px,315px,0,0;y:m;yo:-65px,-65px,-259px,-155px;" data-text="w:normal,normal,normal,normal;s:45,45,45,29;l:55,55,55,36;ls:10px,10px,10px,8px;fw:600;a:left,left,center,center;" data-dim="w:auto,auto,auto,291px;" data-basealign="slide" data-rsp_o="off" data-rsp_bd="off" data-frame_0="x:-50;" data-frame_1="e:power1.out;st:990;sp:500;" data-frame_999="o:0;st:w;" style="z-index:16;font-family:Josefin Sans;text-transform:uppercase;">
                                                                                            Farklı Düşünün
                                                                                        </rs-layer><rs-layer id="slider-22-slide-48-layer-1" data-type="text" data-color="#7f7f7f" data-xy="x:c;xo:445px,445px,0,0;y:m;yo:-110px,-110px,-314px,-204px;" data-text="w:normal;s:15;a:left,left,center,center;" data-dim="w:822px;h:100px;" data-basealign="slide" data-rsp_o="off" data-rsp_bd="off" data-frame_0="x:-50;" data-frame_1="e:power1.out;st:960;sp:500;" data-frame_999="o:0;st:w;" style="z-index:14;font-family:Open Sans;">
                                                                                            <p class="qodef-shortcode qodef-m  qodef-custom-font  qodef-custom-font-8 qodef-layout--simple" style="color: #EF5B47;font-family: The Gwathmey;font-size: 55px;line-height: 65px;font-weight: 400;font-style: normal">Mobilya</p>
                                                                                        </rs-layer>
                                                                                        
                                                                                        
                                                                                        
                                                                                        <rs-layer id="slider-22-slide-48-layer-4" data-type="text" data-color="#8b8b8b" data-xy="x:c;xo:302px,302px,0,507px;y:m;yo:9px,9px,-185px,-156px;" data-text="w:normal;s:17;l:27;a:left,left,center,center;" data-dim="w:529px;" data-vbility="t,t,t,f" data-basealign="slide" data-rsp_o="off" data-rsp_bd="off" data-frame_0="x:-50;" data-frame_1="e:power1.out;st:1150;sp:500;" data-frame_999="o:0;st:w;" style="z-index:15;font-family:Open Sans;">
                                                                                            HakMobilya Dekorasyon, 20 yıl önce kurulmuştur. Merkezi Mardin olmakla birlikte çevre illere de hizmet vermektedir.
                                                                                        </rs-layer>
                                                                                        
                                                                                        <rs-layer id="slider-22-slide-48-layer-5" data-type="image" data-xy="x:c;xo:-430px,-415px,-84px,-84px;y:m;yo:-85px,-65px,143px,173px;" data-text="w:normal;" data-dim="w:592px,592px,492px,492px;h:415px,415px,345px,345px;" data-basealign="slide" data-rsp_o="off" data-rsp_bd="off" data-frame_0="x:-50px;y:-50;" data-frame_1="e:power3.out;st:300;sp:1000;" data-frame_999="o:0;st:w;" style="z-index:8;">
                                                                                            <img src="~/Content/wp-content/uploads/2020/03/Home1_rev2-img-3.png" alt="a" width="592" height="415" data-no-retina>
                                                                                        </rs-layer>
                                                                                        
                                                                                        <rs-layer id="slider-22-slide-48-layer-6" data-type="image" data-xy="x:c;xo:-558px,-513px,-182px,-175px;y:m;yo:-109px,-109px,99px,92px;" data-text="w:normal;" data-dim="w:190px,190px,150px,150px;h:262px,262px,207px,207px;" data-basealign="slide" data-rsp_o="off" data-rsp_bd="off" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:1000;sp:1000;" data-frame_999="o:0;st:w;" style="z-index:10;">
                                                                                            <img src="~/Content/wp-content/uploads/2020/03/Home1_rev2-img-4.png" alt="s" width="190" height="262" data-no-retina>
                                                                                        </rs-layer>
                                                                                        
                                                                                        <rs-layer id="slider-22-slide-48-layer-7" data-type="image" data-xy="x:c;xo:-656px,-615px,-284px,-284px;y:m;yo:180px,215px,328px,328px;" data-text="w:normal;" data-dim="w:116px,98px,98px,98px;h:274px,232px,232px,232px;" data-vbility="t,t,f,f" data-basealign="slide" data-rsp_o="off" data-rsp_bd="off" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:1000;sp:1000;" data-frame_999="o:0;st:w;" style="z-index:11;">
                                                                                            <img src="~/Content/wp-content/uploads/2020/05/Home3_rev-5.png" alt="s" width="116" height="274" data-no-retina>
                                                                                        </rs-layer>
                                                                                        
                                                                                        <rs-layer id="slider-22-slide-48-layer-10" data-type="image" data-xy="x:c;xo:-307px,-302px,29px,0;y:m;yo:69px,69px,207px,152px;" data-text="w:normal;" data-dim="w:517px,517px,417px,297px;h:375px,375px,303px,216px;" data-basealign="slide" data-rsp_o="off" data-rsp_bd="off" data-frame_0="x:50px;y:50;" data-frame_1="st:830;sp:1000;" data-frame_999="o:0;st:w;" style="z-index:12;">
                                                                                            <img src="~/Content/wp-content/uploads/2020/04/productsingle-600x436.png" alt="t" width="800" height="581" data-no-retina>
                                                                                        </rs-layer>
                                                                                        
                                                                                        <rs-layer id="slider-22-slide-48-layer-11" data-type="image" data-xy="x:c;xo:-95px,-90px,202px,158px;y:m;yo:-164px,-164px,68px,83px;" data-text="w:normal;" data-dim="w:174px,174px,124px,166px;h:158px,158px,113px,151px;" data-basealign="slide" data-rsp_o="off" data-rsp_bd="off" data-frame_0="x:-50px;y:-50;" data-frame_1="e:power3.out;st:500;sp:1000;" data-frame_999="o:0;st:w;" style="z-index:9;">
                                                                                            <img src="~/Content/wp-content/uploads/2020/03/Landing-rev-img-9.png" alt="a" width="310" height="282" data-no-retina>
                                                                                        </rs-layer>
                                                                                    </rs-slide>
                                                                                </rs-slides>
                                                                            </rs-module>
                                                                            <script type="text/javascript">
                                                                                setREVStartSize({ c: 'rev_slider_22_1', rl: [1920, 1720, 1025, 700], el: [630, 630, 850, 600], gw: [1300, 1100, 600, 300], gh: [630, 630, 850, 600], type: 'hero', justify: '', layout: 'fullwidth', mh: "0" });
                                                                                var revapi22,
                                                                                    tpj;
                                                                                jQuery(function () {
                                                                                    tpj = jQuery;
                                                                                    revapi22 = tpj("#rev_slider_22_1")
                                                                                    if (revapi22 == undefined || revapi22.revolution == undefined) {
                                                                                        revslider_showDoubleJqueryError("rev_slider_22_1");
                                                                                    } else {
                                                                                        revapi22.revolution({
                                                                                            sliderType: "hero",
                                                                                            sliderLayout: "fullwidth",
                                                                                            visibilityLevels: "1920,1720,1025,700",
                                                                                            gridwidth: "1300,1100,600,300",
                                                                                            gridheight: "630,630,850,600",
                                                                                            startDelay: "0ms",
                                                                                            spinner: "spinner2",
                                                                                            perspective: 600,
                                                                                            perspectiveType: "local",
                                                                                            editorheight: "630,630,850,600",
                                                                                            responsiveLevels: "1920,1720,1025,700",
                                                                                            progressBar: { disableProgressBar: true },
                                                                                            navigation: {
                                                                                                onHoverStop: false
                                                                                            },
                                                                                            viewPort: {
                                                                                                enable: true
                                                                                            },
                                                                                            fallbacks: {
                                                                                                allowHTML5AutoPlayOnAndroid: true
                                                                                            },
                                                                                        });
                                                                                    }

                                                                                });
                                                                            </script>
                                                                            <script>
                                                                                var htmlDivCss = ' #rev_slider_22_1_wrapper rs-loader.spinner2{ background-color: #dfe8ec !important; } '
                                                                                var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                                                                                if (htmlDiv) {
                                                                                    htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                                                                } else {
                                                                                    var htmlDiv = document.createElement('div');
                                                                                    htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                                                                                    document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                                                                                }
                                                                            </script>
                                                                        </rs-module-wrap>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

</div>