
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="qodef-page-outer">
    <div class="qodef-page-titlex qodef-m qodef-title--standard qodef-alignment--centerx qodef-vertical-alignment--header-bottom qodef--has-image">

        <div class="qodef-m-inner">
            <div class="qodef-m-content qodef-content-grid ">
                <h1 class="qodef-m-titlex entry-title">
                    BİZE ULAŞIN
                </h1>
            </div>
        </div>
    </div> <div id="qodef-page-inner" class="qodef-content-grid">
        <main id="qodef-page-content" class="qodef-grid qodef-layout--template ">
            <div class="qodef-grid-inner clear">
                <div class="qodef-grid-item qodef-page-content-section qodef-col--12">
                    <div data-elementor-type="wp-page" data-elementor-id="677" class="elementor elementor-677" data-elementor-settings="[]">
                        <div class="elementor-inner">
                            <div class="elementor-section-wrap">
                                <section class="elementor-element elementor-element-c86456e qodef-elementor-content-grid elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="c86456e" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-row">
                                            <div class="elementor-element elementor-element-12ec1c04 elementor-column elementor-col-50 elementor-top-column" data-id="12ec1c04" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-5221705d elementor-widget elementor-widget-konsept_core_section_title" data-id="5221705d" data-element_type="widget" data-widget_type="konsept_core_section_title.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--left ">
                                                                    <span class="qodef-m-tagline" style="margin-bottom: 10px">Bize Ulaşın</span>
                                                                    <h2 class="qodef-m-title">
                                                                        BİR SORUNUZ MU VAR?
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-7c1b2848 elementor-widget elementor-widget-konsept_core_custom_font" data-id="7c1b2848" data-element_type="widget" data-widget_type="konsept_core_custom_font.default">
                                                            <div class="elementor-widget-container">
                                                                <p class="qodef-shortcode qodef-m  qodef-custom-font  qodef-custom-font-7 qodef-layout--simple" style="font-size: 17px;line-height: 27px">Bizlere işimiz hakkında sormak istediğiniz sorunuz var ise, hiç çekinmeden sorabilirsiniz!</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                </div>
                                            </div>

                                            <div class="elementor-element elementor-element-37601920 elementor-column elementor-col-50 elementor-top-column" data-id="37601920" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-cd776d2 elementor-widget elementor-widget-wp-widget-konsept_core_contact_form_7" data-id="cd776d2" data-element_type="widget" data-widget_type="wp-widget-konsept_core_contact_form_7.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="qodef-contact-form-7">
                                                                    <div role="form" class="wpcf7" id="wpcf7-f190-p677-o1" lang="en-US" dir="ltr">
                                                                        <div class="screen-reader-response" role="alert" aria-live="polite"></div>
                                                                        <form action="~/Content/contact-us/#wpcf7-f190-p677-o1" method="post" class="wpcf7-form init" novalidate="novalidate">
                                                                            <div style="display: none;">
                                                                                <input type="hidden" name="_wpcf7" value="190" />
                                                                                <input type="hidden" name="_wpcf7_version" value="5.2" />
                                                                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f190-p677-o1" />
                                                                                <input type="hidden" name="_wpcf7_container_post" value="677" />
                                                                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                                                            </div>
                                                                            <div class="qodef-grid qodef-layout--columns qodef-col-num--2 qodef-gutter--small">
                                                                                <div class="qodef-grid-inner">
                                                                                    <div class="qodef-grid-item"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ad" /></span></div>
                                                                                    <div class="qodef-grid-item"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="qodef-grid qodef-layout--columns qodef-col-num--1 qodef-gutter--small">
                                                                                <div class="qodef-grid-inner">
                                                                                    <div class="qodef-grid-item"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="9" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Yorumunuz ..."></textarea></span></div>
                                                                                    <div class="qodef-grid-item" style="text-align:right;"><button type="submit" class="wpcf7-form-control wpcf7-submit qodef-button qodef-size--normal qodef-type--outlined qodef-m"><span class="qodef-m-text">Gönder</span></button></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="wpcf7-response-output" role="alert" aria-hidden="true"></div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
